*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: white;
	font-family: 'Russo One', monospace;
}

.navbar{
	background: #1F1D36;
	font-size: 19px;
}

.nav-head{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.nav-link{
	font-size: 17px;
}

/*.head-h1{
	font-weight: 500;
}*/

.head-row{
	background: linear-gradient(to right, #E9A6A6, #3F3351);
}

.head-h3{
/*	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	text-indent: 50%;
	font-weight: 800;
	margin-top: 400px;*/
	font-size: 20px;
}

/*.cloud{
	display: block;
	margin-left: auto;
	margin-bottom: 10px;
}*/

.raiden{
	display: block;
	margin-left: auto;
}

.desc{
	background: linear-gradient(to right, #FFE3E3, #1F1D36);
}

.desc-l1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	font-weight: 900;
	display: block;
	margin-top: 20px;
}

.tech{
	height: 100px;
}

.desc-p1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	font-weight: 900;
	display: inline;
}

.orias{
	
	height: 400px;
	margin-bottom: 20px;
}

.main-h3{
	font-family: 'BIZ UDMincho', serif;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: black;
	padding-top: 15px;
	padding: 10ox 0x;
}

.main-row{
	background: linear-gradient(to right, #EEDAD1, #C2B4D3);
}

.card-title{
	color: black;
	text-align: center;
}

.card{
	background: #48426D;
	border: 1px solid black;
}

.card-body{
	text-align: center;
}

.card-btn{
	background: #EBCFC4;
	color: black;
}

.form-h2{
	text-align: center;
}

.form-div{
	text-align: center;	
}

.form-row{
	background: linear-gradient(to right, #E9D5DA, #4D4C7D);
}

.form-btn{
	text-align: center;
}

.form-btn > button{
	background: #EBCFC4;
}

.iframe{
	text-align: center;
}

iframe{
	height: 500px;
}

.footer-row{
	background: #1F1D36;
}

.footer-h3{
	text-align: center;
}

.footer-social{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}

.footer-contact{
	display: block;
	text-align: center;
}